-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: xzs
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `t_ai_adjustment_log`
--

DROP TABLE IF EXISTS `t_ai_adjustment_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_ai_adjustment_log` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `template_id` int DEFAULT NULL COMMENT '?????ID',
  `style` varchar(50) NOT NULL COMMENT '????',
  `adjustment_type` varchar(50) NOT NULL COMMENT '?????create, update, delete, test, optimize',
  `before_content` text COMMENT '??????',
  `after_content` text COMMENT '??????',
  `adjustment_reason` varchar(500) DEFAULT '' COMMENT '????',
  `adjustment_details` text COMMENT '?????JSON??????????',
  `test_result` text COMMENT '????',
  `test_question` text COMMENT '????',
  `test_feedback` varchar(500) DEFAULT '' COMMENT '????',
  `rating` int DEFAULT '0' COMMENT '???1-5',
  `status` varchar(20) DEFAULT 'pending' COMMENT '???pending, approved, rejected',
  `approver_id` int DEFAULT NULL COMMENT '???ID',
  `approve_time` datetime DEFAULT NULL COMMENT '????',
  `approve_comment` varchar(500) DEFAULT '' COMMENT '????',
  `create_user` int DEFAULT '1' COMMENT '????ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `ip_address` varchar(50) DEFAULT '' COMMENT 'IP??',
  PRIMARY KEY (`id`),
  KEY `idx_template_id` (`template_id`),
  KEY `idx_style` (`style`),
  KEY `idx_adjustment_type` (`adjustment_type`),
  KEY `idx_create_time` (`create_time`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_ai_adjustment_log`
--

LOCK TABLES `t_ai_adjustment_log` WRITE;
/*!40000 ALTER TABLE `t_ai_adjustment_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_ai_adjustment_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_ai_knowledge_base`
--

DROP TABLE IF EXISTS `t_ai_knowledge_base`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_ai_knowledge_base` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `category` varchar(50) NOT NULL COMMENT '???methodology??????domain?????example????',
  `domain` varchar(50) NOT NULL COMMENT '???? computer_science, math, physics',
  `sub_domain` varchar(50) DEFAULT '' COMMENT '????? data_structure, algorithm',
  `title` varchar(200) NOT NULL COMMENT '??',
  `keywords` varchar(255) DEFAULT '' COMMENT '????????',
  `content` text NOT NULL COMMENT '????',
  `source_type` varchar(50) DEFAULT '' COMMENT '?????book, article, speech, lecture',
  `source_name` varchar(200) DEFAULT '' COMMENT '????????????????',
  `source_author` varchar(100) DEFAULT '' COMMENT '??/???',
  `core_concepts` text COMMENT '?????JSON???',
  `application_scenarios` text COMMENT '?????JSON???',
  `examples` text COMMENT '???JSON???',
  `enabled` tinyint(1) DEFAULT '1' COMMENT '????',
  `priority` int DEFAULT '0' COMMENT '???????????',
  `usage_count` int DEFAULT '0' COMMENT '????',
  `create_user` int DEFAULT '1' COMMENT '????ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_category` (`category`),
  KEY `idx_domain` (`domain`),
  KEY `idx_enabled` (`enabled`),
  KEY `idx_priority` (`priority`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_ai_knowledge_base`
--

LOCK TABLES `t_ai_knowledge_base` WRITE;
/*!40000 ALTER TABLE `t_ai_knowledge_base` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_ai_knowledge_base` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_ai_prompt_template`
--

DROP TABLE IF EXISTS `t_ai_prompt_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_ai_prompt_template` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `style` varchar(50) NOT NULL COMMENT '???????default, feynman, plato, first-principles?',
  `name` varchar(100) NOT NULL COMMENT '????',
  `description` varchar(500) DEFAULT '' COMMENT '????',
  `icon` varchar(50) DEFAULT '' COMMENT '???emoji?',
  `system_prompt` text NOT NULL COMMENT '?????',
  `user_prompt_template` text NOT NULL COMMENT '???????',
  `knowledge_base_ids` varchar(255) DEFAULT '' COMMENT '??????ID?????',
  `reference_materials` text COMMENT '?????JSON????????????',
  `variables` varchar(255) DEFAULT '' COMMENT '?????????',
  `output_format` varchar(50) DEFAULT 'markdown' COMMENT '?????markdown, json, html',
  `temperature` decimal(3,2) DEFAULT '0.70' COMMENT '????',
  `max_tokens` int DEFAULT '4096' COMMENT '??token?',
  `enabled` tinyint(1) DEFAULT '1' COMMENT '?????0-???1-??',
  `is_default` tinyint(1) DEFAULT '0' COMMENT '??????',
  `usage_count` int DEFAULT '0' COMMENT '????',
  `rating_sum` int DEFAULT '0' COMMENT '????',
  `rating_count` int DEFAULT '0' COMMENT '????',
  `create_user` int DEFAULT '1' COMMENT '????ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_style` (`style`),
  KEY `idx_enabled` (`enabled`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI??????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_ai_prompt_template`
--

LOCK TABLES `t_ai_prompt_template` WRITE;
/*!40000 ALTER TABLE `t_ai_prompt_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_ai_prompt_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_ai_usage_log`
--

DROP TABLE IF EXISTS `t_ai_usage_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_ai_usage_log` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `template_id` int DEFAULT NULL COMMENT '?????ID',
  `style` varchar(50) NOT NULL COMMENT '????',
  `ai_type` varchar(20) DEFAULT '' COMMENT 'AI???glm, openai',
  `model` varchar(50) DEFAULT '' COMMENT '????',
  `question` text NOT NULL COMMENT '????',
  `knowledge_points` text COMMENT '??????',
  `knowledge_base_ids` varchar(255) DEFAULT '' COMMENT '??????ID',
  `prompt` text COMMENT '????????',
  `response` text COMMENT 'AI??',
  `response_length` int DEFAULT '0' COMMENT '????',
  `tokens_used` int DEFAULT '0' COMMENT '???token?',
  `cost` decimal(10,4) DEFAULT '0.0000' COMMENT '??',
  `duration_ms` int DEFAULT '0' COMMENT '??????',
  `success` tinyint(1) DEFAULT '1' COMMENT '????',
  `error_message` text COMMENT '????',
  `user_rating` int DEFAULT '0' COMMENT '?????1-5',
  `user_feedback` text COMMENT '????',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `idx_template_id` (`template_id`),
  KEY `idx_style` (`style`),
  KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_ai_usage_log`
--

LOCK TABLES `t_ai_usage_log` WRITE;
/*!40000 ALTER TABLE `t_ai_usage_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_ai_usage_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_exam_paper`
--

DROP TABLE IF EXISTS `t_exam_paper`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_exam_paper` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `subject_id` int DEFAULT NULL COMMENT '??ID',
  `paper_type` int DEFAULT NULL COMMENT '????',
  `score` int DEFAULT NULL COMMENT '??',
  `question_count` int DEFAULT NULL COMMENT '????',
  `suggest_time` int DEFAULT NULL COMMENT '????(??)',
  `limit_start_time` datetime DEFAULT NULL COMMENT '开始时间限制',
  `limit_end_time` datetime DEFAULT NULL COMMENT '结束时间限制',
  `type_text` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `grade_level` int DEFAULT NULL COMMENT '????',
  `frame_text_content_id` int DEFAULT NULL COMMENT '????ID',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  `task_exam_id` int DEFAULT NULL COMMENT '任务考试ID',
  `create_user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '?????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_exam_paper`
--

LOCK TABLES `t_exam_paper` WRITE;
/*!40000 ALTER TABLE `t_exam_paper` DISABLE KEYS */;
INSERT INTO `t_exam_paper` VALUES (1,'数据结构',101,1,19,4,10,NULL,NULL,NULL,2,2012,2,'2026-05-15 00:11:57',_binary '\0',NULL,NULL),(2,'数据结构',101,1,19,4,10,NULL,NULL,NULL,2,2013,2,'2026-05-15 00:11:59',_binary '\0',NULL,NULL),(3,'数据结构',101,1,19,4,10,NULL,NULL,NULL,2,2014,2,'2026-05-15 00:12:07',_binary '\0',NULL,NULL),(4,'2024年考研计算机学科专业基础综合（408）真题',101,1,150,11,180,NULL,NULL,NULL,2,NULL,2,'2026-05-15 00:39:35',_binary '\0',NULL,NULL);
/*!40000 ALTER TABLE `t_exam_paper` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_exam_paper_answer`
--

DROP TABLE IF EXISTS `t_exam_paper_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_exam_paper_answer` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `exam_paper_id` int DEFAULT NULL COMMENT '??ID',
  `paper_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `paper_type` int DEFAULT '1',
  `subject_id` int DEFAULT NULL COMMENT '??ID',
  `system_score` int DEFAULT '0',
  `user_score` int DEFAULT '0',
  `score` int DEFAULT NULL COMMENT '??',
  `paper_score` int DEFAULT NULL COMMENT '????',
  `question_correct` int DEFAULT NULL COMMENT '????',
  `question_count` int DEFAULT NULL COMMENT '???',
  `do_time` int DEFAULT NULL COMMENT '????(?)',
  `status` int DEFAULT NULL COMMENT '??',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `task_exam_id` int DEFAULT NULL COMMENT '????ID',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_exam_paper_answer`
--

LOCK TABLES `t_exam_paper_answer` WRITE;
/*!40000 ALTER TABLE `t_exam_paper_answer` DISABLE KEYS */;
INSERT INTO `t_exam_paper_answer` VALUES (5,3,'数据结构',1,101,0,0,NULL,19,0,4,600,1,1,'2026-05-15 01:19:39',NULL);
/*!40000 ALTER TABLE `t_exam_paper_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_exam_paper_question`
--

DROP TABLE IF EXISTS `t_exam_paper_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_exam_paper_question` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '关联ID',
  `exam_paper_id` int DEFAULT NULL COMMENT '试卷ID',
  `question_id` int DEFAULT NULL COMMENT '题目ID',
  `question_type` int DEFAULT NULL COMMENT '题型',
  `subject_id` int DEFAULT NULL COMMENT '学科ID',
  `score` int DEFAULT NULL COMMENT '本题分值',
  `item_order` int DEFAULT NULL COMMENT '排序号',
  `question_text_content_id` int DEFAULT NULL COMMENT '题目内容ID',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `exam_paper_id` (`exam_paper_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=COMPACT COMMENT='试卷题目关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_exam_paper_question`
--

LOCK TABLES `t_exam_paper_question` WRITE;
/*!40000 ALTER TABLE `t_exam_paper_question` DISABLE KEYS */;
INSERT INTO `t_exam_paper_question` VALUES (1,4,2001,1,101,2,1,2001),(2,4,2002,1,101,2,2,2002),(3,4,2003,1,101,2,3,2003),(4,4,2004,1,104,2,4,2004),(5,4,2005,1,104,2,5,2005),(6,4,2006,1,107,2,6,2006),(7,4,2007,1,107,2,7,2007),(8,4,2008,1,110,2,8,2008),(9,4,2009,1,110,2,9,2009),(10,4,2010,5,101,13,10,2010),(11,4,2011,5,104,13,11,2011);
/*!40000 ALTER TABLE `t_exam_paper_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_exam_paper_question_customer_answer`
--

DROP TABLE IF EXISTS `t_exam_paper_question_customer_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_exam_paper_question_customer_answer` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `question_id` int DEFAULT NULL COMMENT '??ID',
  `exam_paper_id` int DEFAULT NULL COMMENT '??ID',
  `exam_paper_answer_id` int DEFAULT NULL COMMENT '????ID',
  `question_type` int DEFAULT NULL COMMENT '??',
  `subject_id` int DEFAULT NULL COMMENT '??ID',
  `customer_score` int DEFAULT NULL COMMENT '????',
  `question_score` int DEFAULT NULL COMMENT '????',
  `question_text_content_id` int DEFAULT NULL COMMENT '????ID',
  `answer` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `text_content_id` int DEFAULT NULL COMMENT '????ID',
  `do_right` bit(1) DEFAULT NULL COMMENT '????',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `item_order` int DEFAULT NULL COMMENT '???',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_exam_paper_question_customer_answer`
--

LOCK TABLES `t_exam_paper_question_customer_answer` WRITE;
/*!40000 ALTER TABLE `t_exam_paper_question_customer_answer` DISABLE KEYS */;
INSERT INTO `t_exam_paper_question_customer_answer` VALUES (1,2003,3,5,1,101,0,2,2003,'A',NULL,_binary '\0',1,'2026-05-15 01:19:39',1),(2,2002,3,5,1,101,0,2,2002,NULL,NULL,_binary '\0',1,'2026-05-15 01:19:39',2),(3,2001,3,5,1,101,0,2,2001,NULL,NULL,_binary '\0',1,'2026-05-15 01:19:39',3),(4,2010,3,5,5,101,0,13,2010,NULL,2015,NULL,1,'2026-05-15 01:19:39',4);
/*!40000 ALTER TABLE `t_exam_paper_question_customer_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_message`
--

DROP TABLE IF EXISTS `t_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_message` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `content` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `send_user_id` int DEFAULT NULL COMMENT '?????ID',
  `send_user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '??????',
  `send_real_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '???????',
  `receive_user_count` int DEFAULT NULL COMMENT '????',
  `read_count` int DEFAULT NULL COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_message`
--

LOCK TABLES `t_message` WRITE;
/*!40000 ALTER TABLE `t_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_message_user`
--

DROP TABLE IF EXISTS `t_message_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_message_user` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `message_id` int DEFAULT NULL COMMENT '??ID',
  `receive_user_id` int DEFAULT NULL COMMENT '????ID',
  `receive_user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '?????',
  `receive_real_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????????',
  `readed` bit(1) DEFAULT NULL COMMENT '????',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `read_time` datetime DEFAULT NULL COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_message_user`
--

LOCK TABLES `t_message_user` WRITE;
/*!40000 ALTER TABLE `t_message_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_message_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_question`
--

DROP TABLE IF EXISTS `t_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_question` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `question_type` int DEFAULT NULL COMMENT '???1=??, 2=??, 3=??, 4=??, 5=??',
  `subject_id` int DEFAULT NULL COMMENT '??ID',
  `score` int DEFAULT NULL COMMENT '??',
  `grade_level` int DEFAULT NULL COMMENT '????',
  `difficult` int DEFAULT NULL COMMENT '???1-5',
  `correct` text COLLATE utf8mb4_unicode_ci COMMENT '????',
  `info_text_content_id` int DEFAULT NULL COMMENT '?????ID',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `status` int DEFAULT NULL COMMENT '???0=??, 1=??',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  PRIMARY KEY (`id`),
  KEY `subject_id` (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2012 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_question`
--

LOCK TABLES `t_question` WRITE;
/*!40000 ALTER TABLE `t_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_subject`
--

DROP TABLE IF EXISTS `t_subject`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_subject` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '????',
  `level` int DEFAULT NULL COMMENT '?????1=???, 2=??, 3=??',
  `level_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `item_order` int DEFAULT NULL COMMENT '???',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_subject`
--

LOCK TABLES `t_subject` WRITE;
/*!40000 ALTER TABLE `t_subject` DISABLE KEYS */;
INSERT INTO `t_subject` VALUES (101,'数据结构',2,'考研',2,_binary '\0'),(104,'计算机组成原理',2,'考研',5,_binary '\0'),(107,'操作系统',2,'考研',8,_binary '\0'),(110,'计算机网络',2,'考研',11,_binary '\0');
/*!40000 ALTER TABLE `t_subject` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_task_exam`
--

DROP TABLE IF EXISTS `t_task_exam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_task_exam` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `grade_level` int DEFAULT NULL COMMENT '????',
  `frame_text_content_id` int DEFAULT NULL COMMENT '????ID',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  `create_user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '?????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_task_exam`
--

LOCK TABLES `t_task_exam` WRITE;
/*!40000 ALTER TABLE `t_task_exam` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_task_exam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_task_exam_customer_answer`
--

DROP TABLE IF EXISTS `t_task_exam_customer_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_task_exam_customer_answer` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `task_exam_id` int DEFAULT NULL COMMENT '????ID',
  `create_user` int DEFAULT NULL COMMENT '????ID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `text_content_id` int DEFAULT NULL COMMENT '????ID',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_task_exam_customer_answer`
--

LOCK TABLES `t_task_exam_customer_answer` WRITE;
/*!40000 ALTER TABLE `t_task_exam_customer_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_task_exam_customer_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_text_content`
--

DROP TABLE IF EXISTS `t_text_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_text_content` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `content` text COLLATE utf8mb4_unicode_ci,
  `create_time` datetime DEFAULT NULL COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2016 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_text_content`
--

LOCK TABLES `t_text_content` WRITE;
/*!40000 ALTER TABLE `t_text_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_text_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user`
--

DROP TABLE IF EXISTS `t_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `user_uuid` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '??UUID',
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '???',
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '??',
  `real_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `age` int DEFAULT NULL COMMENT '??',
  `sex` int DEFAULT NULL COMMENT '???1=?, 2=?',
  `birth_day` datetime DEFAULT NULL COMMENT '????',
  `user_level` int DEFAULT NULL COMMENT '??',
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '???',
  `role` int DEFAULT NULL COMMENT '???1=???, 2=??',
  `status` int DEFAULT NULL COMMENT '???0=??, 1=??',
  `image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `modify_time` datetime DEFAULT NULL COMMENT '????',
  `last_active_time` datetime DEFAULT NULL COMMENT '??????',
  `deleted` bit(1) DEFAULT b'0' COMMENT '????',
  `wx_open_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '??OpenID',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user`
--

LOCK TABLES `t_user` WRITE;
/*!40000 ALTER TABLE `t_user` DISABLE KEYS */;
INSERT INTO `t_user` VALUES (1,'d2d29da2-dcb3-4013-b874-727626236f47','student','$2a$10$a0UdBI6U5KbJJFWwEN6jXe4eZTaWZfwYAdu1QK9Pbdv6bAvv3GWFi','????',20,1,'2004-01-01 00:00:00',2,'19171171610',1,1,'https://www.mindskip.net:9008/image/ba607a75-83ba-4530-8e23-660b72dc4953/??.jpg','2026-05-14 01:28:30','2026-05-14 01:28:30',NULL,_binary '\0',NULL),(2,'52045f5f-a13f-4ccc-93dd-f7ee8270ad4c','admin','$2a$10$BOJWNJAQUNeSL8GI2uD8Fu3iqDit8HDO3ct1Ig5i/Actg0mqwTHQq','?????',30,1,'1994-01-01 00:00:00',NULL,NULL,3,1,NULL,'2026-05-14 01:28:30','2026-05-14 01:28:30',NULL,_binary '\0',NULL);
/*!40000 ALTER TABLE `t_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user_event_log`
--

DROP TABLE IF EXISTS `t_user_event_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user_event_log` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `user_id` int DEFAULT NULL COMMENT '??ID',
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '???',
  `real_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '????',
  `content` text COLLATE utf8mb4_unicode_ci COMMENT '????',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user_event_log`
--

LOCK TABLES `t_user_event_log` WRITE;
/*!40000 ALTER TABLE `t_user_event_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_user_event_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user_token`
--

DROP TABLE IF EXISTS `t_user_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user_token` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT 'TokenID',
  `token` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Token?',
  `user_id` int DEFAULT NULL COMMENT '??ID',
  `wx_open_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '??OpenID',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `end_time` datetime DEFAULT NULL COMMENT '????',
  `user_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '???',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='??Token?';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user_token`
--

LOCK TABLES `t_user_token` WRITE;
/*!40000 ALTER TABLE `t_user_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_user_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'xzs'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-15 14:17:24
